body {
  font-family: Arial, sans-serif;
  background: #83a9c2;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 800px;
  max-height: 1000px;
  height: 1000px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #12436f;
  font-size: xx-large;
}
input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  background-color: #12436f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #12436f;
}
.result {
  margin-top: 20px;
  text-align: center;
}
.result span {
  font-weight: bold;
}
